body{
  background-image: url("Superhero-Cover.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  width: auto;
}

.container{
    margin-top: 20%;
    background-color: #bdbec1;
    padding: 25px 50px;
    opacity: 0.9;
}
