<h2>Welcome to the Hero-Squad Application</h2>

<h3>Here you get to create heroes and assign them causes within a set limit of heroes per squad</h3>
<div id="homePage" class="row">

    <div class="col-md-6 col-xs-12">
        
    </div>
    <div class="col-md-6 col-xs-12">

        <br>
        <h4><a href="/squads/new">Add a new Squad</a></h4>

    </div>
</div>
